
body{
    background-color: whitesmoke;

    font-family: 'Roboto', sans-serif;
    
    
    
}
.heading{
    text-align: center;
    font-size: 50px;
}
.anchor{
    background-color: rgb(182, 80, 33);
    text-decoration: none;
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    color: aliceblue;
}
span{
    color: rgb(218, 203, 122);
}
.paragraph{
    font-size: 15px;
  color: gray;
}
.section{
    display: flex;

}
.section-1div img{
    width: 60%;
    height: auto;
    
}

.section-1div{
    margin-left: 200px;
    margin-top: 100px;
    font-size: 30px;
  

}

.section-2div1 img{
    width: 74%;
    height: auto;

}
.section-2div1{
    margin-left: 200px;
    margin-right: 20px;
    margin-top: 50px;
    padding: 30px;
    height: 100%;
    width: 300px;
    background-color: skyblue;
    border-radius: 10px;
    opacity: 80%;

}
.section-2div2 img{
    width: 70%;
    height: auto;

}

.section-2div2{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    padding: 30px;
    height: 100%;
    width: 300px;
    border-radius: 10px;
    background-color: pink
}
.section-2div3 img{
    width: 70%;
    height: auto;

}
.section-2div3{
    margin-left: 20px;
    margin-top: 50px;
    height: 100%;
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(221, 221, 171);
}
.section-3div1 img{
    margin-top: 200px ;
    margin-left: 200px;
    margin-bottom: 200px;
    width: 60%;
    height: auto;
}

.section-3div2{
    padding-top: 200px;
    margin-right: 200px;
    font-size: 30px;
  

}
.section-4div2 img{
    width: 60%;
    height: auto;
}

.section-4div1{
    margin-left:  200px;
    margin-right: 100px;
    font-size: 30px;
  

}
.section-5div1 img{
    margin-left: 200px;
    width: 80%;
    height: 80%;
}

.section-5div2{
    margin-top: 50px;
    margin-bottom: 275px;
    margin-right: 400px;
    padding-top: 200px;
    text-align: center;
    width: 50%;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 20px;
  

}
footer{
    background-color: black;
    

    
}
.footerdiv{
    padding-top: 150px;
    text-align: center;
    color: white;
    height: 300px;
    width: auto;
    
    



}






